<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userUIServlet</servlet-name>
    <servlet-class>com.xin.webUI.UserUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUIServlet</servlet-name>
    <url-pattern>/servlet/userUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.xin.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/servlet/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>repairServlet</servlet-name>
    <servlet-class>com.xin.controller.RepairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>repairServlet</servlet-name>
    <url-pattern>/servlet/repairServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>defendUIServlet</servlet-name>
    <servlet-class>com.xin.webUI.DefendUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>defendUIServlet</servlet-name>
    <url-pattern>/servlet/defendUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cleaningServlet</servlet-name>
    <servlet-class>com.xin.controller.CleaningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cleaningServlet</servlet-name>
    <url-pattern>/servlet/cleaningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notifyServlet</servlet-name>
    <servlet-class>com.xin.controller.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notifyServlet</servlet-name>
    <url-pattern>/servlet/notifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>parkingpotServlet</servlet-name>
    <servlet-class>com.xin.controller.ParkingpotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>parkingpotServlet</servlet-name>
    <url-pattern>/servlet/parkingpotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guardServlet</servlet-name>
    <servlet-class>com.cissst.controller.GuardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guardServlet</servlet-name>
    <url-pattern>/servlet/guardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>houseServlet</servlet-name>
    <servlet-class>com.xin.controller.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houseServlet</servlet-name>
    <url-pattern>/servlet/houseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>houseUIServlet</servlet-name>
    <servlet-class>com.xin.webUI.HouseUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houseUIServlet</servlet-name>
    <url-pattern>/servlet/houseUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>houseToAddUIServlet</servlet-name>
    <servlet-class>com.xin.webUI.HouseToAddUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houseToAddUIServlet</servlet-name>
    <url-pattern>/servlet/houseToAddUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>costServlet</servlet-name>
    <servlet-class>com.xin.controller.CostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>costServlet</servlet-name>
    <url-pattern>/servlet/costServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workerServlet</servlet-name>
    <servlet-class>com.xin.controller.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workerServlet</servlet-name>
    <url-pattern>/servlet/workerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complaintServlet</servlet-name>
    <servlet-class>com.xin.controller.ComplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complaintServlet</servlet-name>
    <url-pattern>/servlet/complaintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>patrolServlet</servlet-name>
    <servlet-class>com.xin.controller.PatrolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patrolServlet</servlet-name>
    <url-pattern>/servlet/patrolServlet</url-pattern>
  </servlet-mapping>
</web-app>